.container {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.add-project {
    width: 25%;
}

.project-list {
    width: 74% !important;
}

.add-project input,
textarea {
    width: 100%;
}

.project-list {
    width: 58%;
}