<header>
    <div>
        <h1>
            <a routerLink="/exercises">
                Exercises
            </a>
        </h1>
    </div>
    <div>
        <ul class="menu">
            <li class="item">
                <a routerLink="./one" title="Action Reducer Selector">1-(ARS)</a>
            </li>
            <li class="item">
                <a routerLink="./two" title="Action Reducer Selector">2-(ARS)</a>
            </li>
            <li class="item">
                <a routerLink="./three" title="Action Effect Reducer Selector">3-(AERS)</a>
            </li>
            <li class="item">
                <a routerLink="./four" title="Action Effect Reducer Selector">4-(AERS)</a>
            </li>
            <li class="item">
                <a [routerLink]="['./five', 123]" [queryParams]="{tab: 'user', id: 123}" [fragment]="'team'"
                    title="Router-Store">5-(Rs)</a>
            </li>
            <li class="item">
                <a routerLink="./six" title="Action Effect Entity Reducer Selector">6-(AEERS)</a>
            </li>

        </ul>
    </div>
</header>
<section>
    <router-outlet></router-outlet>
</section>