header {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.menu {
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.menu .item {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    all: unset;
    cursor: pointer;
}

section {
    padding: 0.5rem 1rem;
}