/* You can add global styles to this file, and also import other style files */
@import "@ng-select/ng-select/themes/default.theme.css";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


input,
select,
textarea {
    padding: 0.25rem 0.5rem;
}

button {
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    padding: 5px 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

table tr th {
    background-color: #f2f2f2;
}